#signin{
    margin: 100;
    float: 20;
    color: black;
   right:200;
    text-align: center;
}
#email{
    color: gray;
    text-align: center;
}
#password{
    color: gray;
    text-align: center;
}
#login{
    color: white;
    background-color: gray;
    width: 200;
    height: 20;
   text-align: right;
}   
#loginwithgoogle{
    color: gray;
    text-align: center;
}
#signinwithgoogle{
    color: gray;
    text-align: center;
    left: 50;
}